<h2><%= @name %></h2>
<a href="/dishes/<%=@dish_id%>/edit">Edit</a>
<form class="" action="/dishes/<%=@dish_id%>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <button type="submit" name="button">Delete</button>
</form>
<img src="<%= @img_url %>" alt="">

<textarea name="name" rows="8" cols="80" class="comment-input"></textarea>
<button type="button" name="button" class="post-btn">post</button>
<div class="comments">

</div>

<script type="text/javascript">
  $('.post-btn').on('click', e=>{
    console.log($('.comment-input').val());

  })
</script>
